<!doctype html>
<html>
<head>
  <meta name="layout" content="main"/>
  <title>Perfume Storeroom</title>
</head>

<body>
<div class="container">
  <g:form controller="user" class="well form-horizontal" action="update" method="post">
    <g:hiddenField name="id" value="${user.id}"/>

    <g:if test="${errors}">
      <h3 class="text-danger">Please fill all fields correctly</h3>
    </g:if>

    <br>
    <legend>Edit user</legend>
    <fieldset>
      <g:render template="userForm" model="${[user: user]}"/>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>

        <div class="col-md-4">
          <button type="submit" class="btn btn-default">Update</button>
        </div>
      </div>

    </fieldset>
  </g:form>
</div>
</body>