body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.perfume-pagination {
    text-align: center;
}

.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    float: right;
}

@media (min-width: 1000px) {
    .container {
        max-width: 950px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

table tr td {
    line-height: 25px;
}

table form {
    display: inline;
}

.perfume-action {
    visibility: hidden;
}

tr:hover .perfume-action {
    visibility: visible;
}

.file {
    visibility: hidden;
    position: absolute;
}

.container {
    padding-top: 20px;
}